<p id="notice"><%= notice %></p>

<strong>名称:</strong>
<div class="alert alert-success" role="alert"><%= @video.album_name %></div>

<strong>图片:</strong>
<div><img src="<%= @video.pic_url %>"></div>

<br />

<strong>播放器:</strong>
<iframe src="<%= @video.swf %>" width="100%" height="280px">
  
</iframe>

<strong>创建时间:</strong>
<div class="alert alert-success" role="alert"><%= @video.create_time.strftime("%F %T") %></div>

<strong>时长:</strong>
<div class="alert alert-success" role="alert"><%= @video.time_length/60 %>:<%= @video.time_length%60 %></div>

<strong>html5_play_url:</strong>
<div class="alert alert-success" role="alert"><%= @video.html5_play_url %></div>

<%#= link_to '编辑', edit_backend_video_category_video_path(id: @video.id), class: 'btn btn-default' %>
