<!DOCTYPE html>
<html>
  <head>
    <title>今日健康头条</title>
    <%= stylesheet_link_tag "frontend/application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="qc:admins" content="1303345235621163167026375" />
    <html xmlns:wb="http://open.weibo.com/wb">
    <% icon_log = asset_path("logo.png") %>
    <%= puts icon_log %>
    <link rel="icon" href="<%= icon_log %>" type="image/x-icon">
    <script src="http://api.map.baidu.com/api?v=1.5&ak=d3Yn1p4buKQifBg5mcBXqUOS" type="text/javascript"></script>


    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101286603" data-redirecturi="http://www.jiankanghj.com" charset="utf-8"></script>
    <!-- <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=6634719" type="text/javascript" charset="utf-8"></script> -->
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=6634719&debug=true" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <%= render "layouts/frontend/header" %>
    <div class="container-fluid content-wrapper">
      <%= yield %>
    </div>
    <%= render "layouts/frontend/footer" %>
  </body>
</html>
